.LeadS {
  font-size: 40px;
  margin-left: 20px;
  text-align: center;
}

.RecentS {
  padding-left: 35px;
}

.paraS {
  margin-left: 190px;
  margin-top: -42px;
  font-size: 13px;
  border: 2px solid;
  width: 17%;
  cursor: pointer;
}

.uls {
  border: 2px solid;
  width: 84%;
  list-style-type: none;
  padding-left: 0;
  margin-left: 30px;
}

.uls li:nth-child(even) {
  background-color: rgb(0, 193, 252);
}

.container1 {
  display: flex;
  gap: 20px;
  border: rgb(0, 252, 252) 9px solid;
  width: 50%;
  margin-left: 318px;
}

.container2 {
  margin-top: 80px;
}

form {
  margin-top: 85px;
}

button {
  color: red;
  margin-left: 200px;
}
